:root {
    
    /* Primary Colors */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* Neutral Colors */
    --very-vark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: rgb(104, 112, 125);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    /* Extra Colors */
    --blue: hsl(228, 45%, 44%);
}

@font-face {
    font-family: "Kumbh Sans";
    src: 
        url("/src/assets/fonts/kumbh-sans/static/KumbhSans-Regular.ttf"),
        url("/src/assets/fonts/kumbh-sans/static/KumbhSans-Bold.ttf"),
}

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

    font-family: "Kumbh Sans", Arial, sans-serif;
}

#container {
    width: 1000px;
    height: inherit;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--blue); 
}

li {
    list-style-type: none;
}